{% extends "::base.html.twig" %}

{% block title %}{{ post.title }}{% endblock %}

{% block body %}
    {% include("BlogBundle:includes:menu.html.twig") with {'title': 'My blog!' } %}

    {% include("BlogBundle:includes:flash.html.twig") %}

    <h3 class="text-center">{{ post.title }}</h3>
    <hr>
    <br>
    <div>{{ post.description | raw }}</div>
    <br><br>
    <b><i class="glyphicon glyphicon-calendar"></i>  Date: </b>{{ post.createdAt | date('d-m-Y H:m:s') }}<br>

{% endblock %}

{% block javascripts %}
    {% include("TrackerBundle:Tracker:tracker.html.twig") %}
{% endblock %}
